* {
    box-sizing: border-box;
}
.container10 {
    /* width: 202px;
    height: 201px; */
    max-width: calc(30px*10 + 13px *1);
    border: 1px solid black;
    /* display: flex;

    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    margin: 0 auto;
    padding: 1px;
}

.container15 {
    /* width: 202px;
    height: 201px; */
    max-width: calc(30px*15 + 18px *1);
    border: 1px solid black;
    /* display: flex;

    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 1px;
    margin: 0 auto;
    padding: 1px;
}

.container25 {
    /* width: 202px;
    height: 201px; */
    max-width: calc(30px*25 + 28px *1);
    border: 1px solid black;
    /* display: flex;

    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 1px;
    margin: 0 auto;
    padding: 1px;
}

.infofield,
.infofield2 {
    width: 202px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.displayBombs,
.displayFlags {
    border: 1px solid green;
}
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid red;
}

.failure,
.victory {
    margin: auto auto;
    vertical-align: middle;
}

.closed {
    background-color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}
.red {
    color: red;
}
.darkblue {
    color: darkblue;
}
.brown {
    color: brown;
}
.black {
    color: black;
}

.first {
    background-color: yellow;
    color: red;
}

.btnSound {
    display: inline-block;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    background-color: #bfbfbf;
    z-index: 0;
    cursor: pointer;
    position:relative;
    transition-duration: 300ms;
}

.btnSound::after {
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background: #fff;
    top: -6px;
    transition-duration: 300ms;
    box-shadow: 0 0 10px 0 #999999;
    position: absolute;
    z-index: 1;
}

.soundOn {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999;
}

.soundOn::after {
    left: 30px;
    background: #118c4e
}

.label {
    display: inline-block;
    width: 100%;
}

#input {
    width: 50px;
}